.index-page{
  background-color:#fff;

  .flight-list-table{
    width:90%;
    border-collapse: collapse;
    text-align: center;
    margin:0 auto;
    margin-top:30px;
    table-layout: fixed;

    $borderStyle : 1px solid #ccc;

    .flight-type{
      width:180px;
    }

    thead{
      background-color: #cdecf9;
    }

    th,td{
      border : $borderStyle;
      line-height:26px;
    }
  }
}
